
{{!
    @template block_recentlyaccessedcourses/placeholder-course

    This template renders an course card item loading placeholder for the recentlyaccessedcourses block.

    Example context (json):
    {}
}}
<div class="card dashboard-card border-0">
    <div class="card-img-top bg-pulse-grey w-100" style="height: 7rem">
    </div>
    <div class="card-body pl-0 pr-1 course-info-container">
        <div class="bg-pulse-grey w-100" style="height: 1rem"></div>
    </div>
</div>
