
{{!
    @template block_recentlyaccessedcourses/recentlyaccessedcourses-view

    This template renders the courses view for the recentlyaccessedcourses block.

    Example context (json):
    {
    }
}}
<div id="recentlyaccessedcourses-view-{{uniqid}}" data-region="recentlyaccessedcourses-view">
    <div data-region="loading-placeholder">
        <div class="card-deck dashboard-card-deck one-row overflow-hidden" style="height: 13.05rem">
            {{> core_course/placeholder-course }}
            {{> core_course/placeholder-course }}
            {{> core_course/placeholder-course }}
            {{> core_course/placeholder-course }}
        </div>
    </div>
    <div class="hidden" data-region="view-content">
        {{< core_course/coursecards }}
            {{$classes}}one-row fixed-width-cards justify-content-center overflow-hidden{{/classes}}
        {{/ core_course/coursecards }}
    </div>
    <div class="hidden text-xs-center text-center mt-3" data-region="empty-message">
        <img class="empty-placeholder-image-lg mt-1"
            src="{{nocoursesimgurl}}"
            alt="{{#str}} nocourses, block_recentlyaccessedcourses {{/str}}"
            role="presentation">
        <p class="text-muted mt-3">{{#str}} nocourses, block_recentlyaccessedcourses {{/str}}</p>
    </div>
</div>
