
{{#iscoursestatsshow}}
<div id="wdm_course-stats" class="course-stats row mx-0 p-0 my-2">
	<div class="col-6 col-md-6 col-lg-3">
		<div class="stats-card d-flex align-items-center justify-content-center px-2 flex-wrap">
			<p class="course-stats-enrolledusers display-4 bold mr-1 mb-0 mb-md-1">0</p>
			<p class="stats-title mb-0 mb-md-1">{{#str}}enrolledusers, theme_remui{{/str}}</p>
		</div>
	</div>
	{{#completion}}
	<div class="col-6 col-md-6 col-lg-3">
		<div class="stats-card d-flex align-items-center justify-content-center px-2 flex-wrap">
			<p class="course-stats-completed display-4 bold mr-1 mb-0 mb-md-1">0</p>
			<p class="stats-title mb-0 mb-md-1">{{#str}}studentcompleted, theme_remui{{/str}}</p>
		</div>
	</div>
	<div class="col-6 col-md-6 col-lg-3">
		<div class="stats-card d-flex align-items-center justify-content-center px-2 flex-wrap">
			<p class="course-stats-inprogress display-4 bold mr-1 mb-0 mb-md-1">0</p>
			<p class="stats-title mb-0 mb-md-1">{{#str}}inprogress, theme_remui{{/str}}</p>
		</div>
	</div>
	<div class="col-6 col-md-6 col-lg-3">
		<div class="stats-card d-flex align-items-center justify-content-center px-2 flex-wrap">
			<p class="course-stats-notstarted display-4 bold mr-1 mb-0 mb-md-1">0</p>
			<p class="stats-title mb-0 mb-md-1">{{#str}}yettostart, theme_remui{{/str}}</p>
		</div>
	</div>
	{{/completion}}
</div>
{{/iscoursestatsshow}}