
{{!
    @template core_message/message_drawer_view_settings_header

    This template will render the header for the settings in the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div class="hidden border-bottom px-2 py-3" aria-hidden="true" data-region="view-settings">
    <div class="d-flex align-items-center">
        <div class="align-self-stretch" >
            <a class="h-100 d-flex mr-2 align-items-center" href="#" data-route-back role="button">
                {{> core_message/message_drawer_icon_back }}
            </a>
        </div>
        <div>
            {{#str}} settings, core {{/str}}
        </div>
    </div>
</div>
